@{
	ViewData["Title"] = "Error 404";
	Layout = "~/Views/Shared/_LayoutW3CRMBlank.cshtml";
}
<!--**********************************
	Content body start
***********************************-->
<div class="container h-100">
	<div class="row justify-content-center h-100 align-items-center">
		<div class="col-md-6">
			<div class="error-page">
				<div class="error-inner text-center">
					<div class="dz-error" data-text="404">404</div>
					<h4 class="error-head"><i class="fa fa-exclamation-triangle text-warning"></i> The page you were looking for is not found!</h4>

					<div>
						<a href="@Url.Action("Index", "w3crm")" class="btn btn-secondary">BACK TO HOMEPAGE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->
@section w3crm_style
	{

}

@section w3crm_script
	{
	<!--**********************************
		Scripts
	***********************************-->
	<!-- Required vendors -->
	<script src="~/w3crm/vendor/global/global.min.js"></script>
	<script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="~/w3crm/js/custom.js"></script>
	<script src="~/w3crm/js/deznav-init.js"></script>
	<script src="~/w3crm/js/demo.js"></script>
	<script src="~/w3crm/js/styleSwitcher.js"></script>
}
